.logo{
    height: 10vh;
    max-width: 15vw;
    display: flex;
    margin-bottom: 5%;
    margin-top: 2%;
    position: absolute;
    left: 2vw;
}
.profile{
    height: 10vh;
    width: 10vw;
    display: flex;
    margin-top: 2%;
    margin-bottom: 5%;
    position: absolute;
    right: 1vw;
}


@media only screen and (min-width:500px) and (max-width: 960px){
    .logo{
        max-height: 6.5vh;
        max-width: 6.5vw;
        margin-top: 2.5vh;

    }
    .profile{
        max-height: 6.5vh;
        max-height: 6.5vh;
        right: 3vw;
        margin-top: 2.5vh;
    }
  }

@media only screen and (min-width:961px) {
    .logo{
        max-height: 7.5vh;
        max-width: 7.5vw;
        margin-top: 1vh;
    }
    .profile{
        max-height: 7.5vh;
        max-width: 7.5vw;
        left: 89vw;
        margin-top: 1vh;
    }
  } 

@media only screen and (min-width:1025px) {
    .logo{
        min-height: 9vh;
        min-width: 15vw;
        margin-top: 1%;

    }
    .profile{
        max-height: 9vh;
        max-width: 10vw;
        margin-top: 1%;
    }
} 