* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  width: 100vw;
  min-height: 100vh;
}

.App .navbar {
  width: 100vw;
  height: 12vh;
  justify-content: space-between;
  display: flex;
  background: rgb(255, 255, 255);
  border-bottom: 3px solid rgba(0, 0, 0, 0.436);
}

.App .navbar .nav-links {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.App .navbar .nav-links>a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

@media only screen and (min-width:500px) and (max-width: 960px) {
  .App .navbar {
    height: 7.5;
  }
} 

@media only screen and (min-width:961px) {
  .App .navbar {
    height: 9vh;
  }
}

@media only screen and (min-width:1025px) {
  .App .navbar {
    width: 100vw;
    height: 12vh;
  }
}
