* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  width: 100%;
  min-height: 100vh;
}

.App .navbar {
  width: 100%;
  min-height: 13vh;
  justify-content: space-between;
  display: flex;
  background: rgb(248, 252, 255);
  border-bottom: 3px solid rgba(0, 0, 0, 0.436);
}

.App .navbar .nav-links {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.App .navbar .nav-links>a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
